<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/hymn-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Hinmy {{hymn?.number}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" *ngIf="hymn">
  <div class="hymn-detail">
    <h1>{{hymn.title}}</h1>
    
    <div class="content">
      <div [ngClass]="item.type" *ngFor="let item of hymn.content">
        <h3>{{ item.type === 'verse' ? 'Verse' : 'Chorus' }}</h3>
        <p *ngFor="let line of item.lines">{{line}}</p>
      </div>
    </div>
  </div>
</ion-content>
