<ion-header [translucent]="true">
  <ion-toolbar style="padding-top: 30px;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/hymn-list"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="about-container">
    <h1>Kolún Mwareiti</h1>
    <p>This application was developed to facilitate access to traditional hymns, preserving our rich musical and cultural heritage.</p>
    
    <h2>Our Mission</h2>
    <p>To preserve and share the rich musical tradition through an accessible digital platform, keeping our culture alive and making hymns accessible to all generations.</p>
    <p>Thank you very much for your time and heart. I created this for our people young and old, on the islands and far away because I felt it was time to share the love found in Christian songs. I also made it to encourage faith, hope, and spiritual strength for our Chuukese community. May God speak to us through these songs. May they bring peace, joy, and deep gratitude for His love. I pray you use these songs to worship and give thanks to our Lord.</p>

  

    <h2>Contact</h2>
    <p>This app includes hymn translations believed to be in the public domain. 
    </p>
    <ul>
      <li>Email: CFCC.doc&#64;gmail.com</li>
      <!-- <li>Phone: (XX) XXXX-XXXX</li> -->
    </ul>

    <h2>Version</h2>
    <p>v1.0.0</p>
  </div>
</ion-content>
